.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.inner {
  text-align: center;
  width: 100%;
  max-width:500px;
}

.btn-ml-2 {
  margin-left: 20px;
}